body{
    background-image: url("../images/backgrounds/retina_wood/retina_wood.png ");
    margin-bottom: 5em;
}
/* this css styles an invisible box to control the margins for its child elements <ul> and <header> */
.control-box{
    width: 100%;
    background-color: #ffffff;
    border-bottom: solid;
    border-bottom-width: 0.0625em;
    border-color: #808080;
    overflow: auto;
}
/* this is the div container for the directory and the header */
#top-bar{
    width: 60em;
    margin: 0 auto;   
}
/* this styles the untitled list tag elements */
.directory{
    float: right;
    color: #0cb9e8;
    margin-top: 2em;
}
/* styles the li html properties inside of ul class="directory" */
.directory li{
    font-size: 1.2em;
    list-style: none;
    display: inline-block;
    color: #b8ffff;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0em 0.5em 0em;
}
/* styles the a property inside the directory class */
.directory a{
    color: #0cb9e8;
    font-size: 0.8em;
    cursor: pointer;
}

.directory a:hover{
    color: #f700ff;
    font-size: 1.2em;
}

h1{
    /* margin: 0 auto; */
    float:left;
    padding: 1em;
    background-color:#4aaaa5;
    font-size: 2em;
    font-family: Georgia, 'Times New Roman', Times, serif; 
    text-align: center;
    color: #ffffff;
}

section{
    background-color: #ffffff;
    margin: auto;
    margin-top: 2em;
    width: 58em; 
    padding: 1em;
    border-style: solid;
    border-width: .0625em;
    border-color: #666666;
    overflow: auto;
}

section p{
    font-family: Arial, Helvetica, sans-serif;
}
/* this div holds the about me text */
#box1{
    border-bottom: solid;
    color: #cccccc;
}

/* I want to use the #aboutme tag but for some reason it doesn't change the color of the text unless I use the h2 selector??*/
h2{
    color: #4aaaa5;
    font-size: 2em;
    margin-bottom: 0.75em;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#pic1{
    float: left;
    margin-right: 1em;
    margin-top: 1em;
}

#p1{
    margin-top: 1em;
}

footer{
    font-size: x-small;
    font-family: Arial, Helvetica, sans-serif;
    border-top: solid;
    border-top-width: thick;
    border-color: #808080;
    text-align: center;
    color: #ffffff;
    background-color: #0cb9e8;
    padding: 2em;
    padding-top:3em;
    position: fixed;
    width: 100%;
    bottom: 0;

    /* margin-top: 28em; */
}

/* CONTACT */

#contact-box{
    background-color: #ffffff;
    margin: auto;
    margin-top: 2em;
    width: 58em; 
    padding: 1em;
    border-style: solid;
    border-width: .0625em;
    border-color: #666666;
    overflow: auto;
}

#form-1{
    margin-top: 2em;
}

form p{
    text: 1em;
    font-family: Arial, Helvetica, sans-serif;
    color: #666666;
}

.text-box {
    width: 100%;
    padding: 0.75em 0em;
}
#message-box{
    height: 12.5em;
    }

#submit{
    background-color: #4aaaa5;
    color: #ffffff;
    padding: 0.5em 2em;
    font-size: 1.1em;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
}

#submit:hover{
    background-color: #0cb9e8;
}
#submit:active{
    background-color: #2d6e7f;
}

/*PORTFOLIO */
/* this is the container for everything */
#gallery{
    background-color: #ffffff;
    margin: auto;
    margin-top: 2em;
    width: 58em; 
    padding: 1em;
    border-style: solid;
    border-width: .0625em;
    border-color: #666666;
    overflow: auto;
}

/*this is the labels of the pictures*/
.label{
    position: relative;
    font-size: 1.5em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #ffffff;
    background-color: #4aaaa5;
    text-align: center;
    padding: 0.8em 0em;
    width: 100%;
    bottom: 0.5em;
}

/* this is my container class for the image and the text divs  */
.thumbnail{
    float: left;
    position: relative;
    margin: 3em 4em 0.5em 0em;
    border-style: solid;
    border-width: .0625em;
    border-color: #666666;
    overflow: auto;
    /* not sure why my images are not filling the divs... */
    object-fit: contain;
}

/* this makes the image go behind the text banner */
.gallery img{
    z-index:-1;
}

#pic2, #pic3, #pic4{
    transform: rotate(90deg);
    /* not sure why my images are not filling the divs... */
    object-fit: contain;
    
}

/* MEDIA QUERIES */
/* // Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {

    header{
        width: 100%;
    }

    .directory{
        width: 100%;
    }

    .contents{
        width: 75%;
    }

    #contact-box{
        width: 75%; 
    }

    #gallery{
        width: 75%;
    }

    #pic1{
        display: none;
    }
}

/* // Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {

    header{
        width: 100%;
    }

    .directory {
        width: 100%;
    }

    .contents{
        width: 75%;
    }

    #contact-box{
        width: 75%; 
    }

    #gallery {
        width: 75%;
    }

}

/* // Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {

    header{
        width: 100%;
    }

    .directory {
        width: 100%;   
    }

    .contents{
        width: 75%;
    }

    #contact-box{
        width: 75%; 
    }

    #gallery {
        width: 75%;
    }
}

/* // Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {

}

/* // Extra large devices (large desktops) */
/* // No media query since the extra-large breakpoint has no upper bound on its width */



